<h1 class="header">Welcome! to the Premier League Manager</h1>

<div class="parentTag">
    <div class="childTag1">
        <ul className="home-ul">
            <li>Here, you'll find a comprehensive platform dedicated to managing and exploring the top football teams in
                the Premier League.</li>
            <li>This site howcases the latest news, updates, and highlights from the Premier League. Stay up-to-date
                with the most recent match results, player transfers, and league standings.</li>
            <li>As you navigate through the site, you'll discover a range of features to enhance your experience.</li>
            <li>Whether you're a dedicated supporter of a specific team, an avid follower of the Premier League, or
                simply looking to engage with the exciting world of English football, our site provides a gateway to all
                the features and information you need to stay connected and informed.</li>
        </ul>
    </div>
    <div class="pic1">
        <img src="assets/images/pic2.jpg" alt="My Image">
    </div>
</div>