<mat-toolbar color="primary" class="mat-elevation-z6">

    <div>
        <img class="logo" src="assets/images/logo1.jpg" alt="My Image">
    </div>

    <span class="title">Premier League Manager</span>

    <div class="spacer"></div>
    <a mat-button routerLink="home">Home</a>
    <a mat-button routerLink="add-club">Add New Club</a>
    <a mat-button routerLink="view-club">View Club Details</a>
    <a mat-button routerLink="update-club">Update Club Stats</a>
    <a mat-button routerLink="delete-club">Delete Club</a>

</mat-toolbar>